.end-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    padding: 4rem;
    box-sizing: border-box;
}

.end-game-over {
    margin-top: 5rem;
    width: 50%;
}

.end-text {
    width: 40%;
    animation: toggleVisibility 1s infinite;
}

.end-star-img {
    position: fixed;
    width: 3.5rem;
    height: 3.5rem;
}

#end-star-1 {
    top: 2vw;
    left: 2vw;
}

#end-star-2 {
    top: 2vw;
    right: 2vw;
}

#end-star-3 {
    bottom: 2vw;
    right: 2vw;
}

#end-star-4 {
    bottom: 2vw;
    left: 2vw;
}

@keyframes toggleVisibility {
  0%, 49.9% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}