.global-ui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.line {
  background-color: black;
  position: absolute;
  transition: 300ms;
}

.vertical-line {
  height: 100%;
  width: 0.1rem;
}

#v1 {
  left: 20%;
}

#v2 {
  left: 40%;
}

#v3 {
  left: 60%;
}

#v4 {
  left: 80%;
}

.horizontal-line {
  height: 0.2rem;
  width: 100%;
}

#h1 {
  top: 33%;
}

#h2 {
  top: 66%;
}