.start-page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  z-index: 999;
}

.title-img {
  width: 47%;
  padding-top: 7%;
}

.small-text {
  font-weight: 300;
  font-size: 2rem;
}

.ptl-img {
  height: 9%;
  margin-top: 2%;
  animation: toggleVisibility 1s infinite;
}

.img-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.img-container img, p {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  z-index: 999;
}

.auge-img-container {
  position: absolute;
  top: 12%;
  left: 10%;
  width: 15rem;
  height: 15rem;
}

.auge-img-container img:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 40;
  animation: moveFirstImg 6s infinite;
}

.auge-img-container img:nth-child(2) {
  top: 20%;
  left: 20%;
  z-index: 30;
}

.auge-img-container img:nth-child(3) {
  top: 40%;
  left: 40%;
  z-index: 20;
  animation: moveSecondImg 6s infinite;
}

.people-img-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 15rem;
  height: 15rem;
}

.people-img-container img:nth-child(1) {
  bottom: 0%;
  right: 40%;
  z-index: 30;
  animation: moveThirdImg 6s infinite;
}

.people-img-container img:nth-child(2) {
  bottom: 20%;
  right: 20%;
  z-index: 20;
}

.people-img-container img:nth-child(3) {
  bottom: 40%;
  right: 0;
  z-index: 10;
  animation: moveFourthImg 6s infinite;
}


.star-img-container {
  width: 100%;
  height: 100%;
}

.star-img-container img {
  height: 3.5rem;
  width: 3.5rem;
}

.star-img-container img:nth-child(1) {
  top: 2vw;
  left: 2vw;
}

.star-img-container img:nth-child(2) {
  top: 2vw;
  right: 2vw;
}

.star-img-container img:nth-child(3) {
  bottom: 2vw;
  right: 2vw;
}

.star-img-container img:nth-child(4) {
  bottom: 2vw;
  left: 2vw;
}

#zcTEXT {
  width: 13rem;
  top: 23%;
  left: 61%;
}

#woTEXT {
  top: 65%;
  left: 8.7%;
}

#wjbdTEXT {
  top: 85%;
  left: 55.3%;
}

@keyframes toggleVisibility {
  0%, 49.9% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes moveFirstImg {
  0% {
    top: 0;
    left: 0;
  }
  25%, 50% {
    top: 20%;
    left: 20%;
  }
  75%, 100% {
    top: 0;
    left: 0;
  }
}

@keyframes moveSecondImg {
  0% {
    top: 40%;
    left: 40%;
  }
  25%, 50% {
    top: 20%;
    left: 20%;
  }
  75%, 100% {
    top: 40%;
    left: 40%;
  }
}

@keyframes moveThirdImg {
  0% {
    bottom: 0;
    right: 40%;
  }
  25%, 50% {
    bottom: 20%;
    right: 20%;
  }
  75%, 100% {
    bottom: 0;
    right: 40%;
  }
}

@keyframes moveFourthImg {
  0% {
    bottom: 40%;
    right: 0;
  }
  25%, 50% {
    bottom: 20%;
    right: 20%;
  }
  75%, 100% {
    bottom: 40%;
    right: 0;
  }
}